    - name: install archive tools
      apt:
        pkg:
         - p7zip-full
         - zip
         - unzip
         - unrar
         - rar
        state: installed

# FIXME - check if it is needed in debian 10
    - name: install archive tools gui
      when: ansible_distribution == 'Debian' and ansible_distribution_major_version == ['9', '10']
      apt: pkg=xarchiver state=installed
