    - name: install virtual machine shortcuts to menu
      when: ansible_distribution == 'Debian' and ansible_distribution_major_version in ['9', '10','11']
      action: apt name=vmshortcuts state=latest update_cache=no
