    - name: install browsers
      apt:
        pkg:
         - firefox-esr
         - chromium
         - chromium-l10n
         - netsurf-gtk
         - elinks
         - w3m
         - lynx
        state: present
      when: ansible_distribution == 'Debian' and ansible_distribution_major_version in ['11','12','13']
    - name: install google chrome
      apt:
        pkg:
         - google-chrome-stable
        state: present
      when: ansible_distribution == 'Debian' and ansible_distribution_major_version in ['11','12','13'] and ansible_architecture == 'x86_64'
    - name: install browser extensions
      apt:
        pkg:
         - webext-ublock-origin-chromium
         - webext-ublock-origin-firefox
        state: present
      when: ansible_distribution == 'Debian' and ansible_distribution_major_version in ['12','13']
