    - name: install 1c packages
      when: ansible_distribution == 'Debian' and ansible_distribution_major_version in ['11']
      apt:
        pkg:
         - 1c-enterprise-8.3.18.1959-client
         - 1c-enterprise-8.3.18.1959-client-nls
         - 1c-enterprise-8.3.18.1959-common
         - 1c-enterprise-8.3.18.1959-common-nls
         - 1c-enterprise-8.3.18.1959-server
         - 1c-enterprise-8.3.18.1959-server-nls
        state: present

    - name: copy nethasp.ini
      action: copy src=files/common/etc/nethasp.ini dest=/etc/nethasp.ini owner=root mode=0644
