   - name: Add virtualbox repo key for Debian 10
     when: ansible_distribution == 'Debian' and ansible_distribution_major_version == '10'
     apt_key: url=http://apt.dcti.sut.ru/virtualbox.gpg state=present
   - name: Add virtualbox repo for Debian 10
     when: ansible_distribution == 'Debian' and ansible_distribution_major_version == '10'
     apt_repository: repo='deb http://people.debian.org/~lucas/virtualbox-buster/ ./' state=present
   - name: Install virtualbox
     apt:
       pkg:
        - virtualbox
        - virtualbox-qt
        - virtualbox-dkms
        - virtualbox-source
       state: present
       install_recommends: no
       update_cache: no
