    - name: install unattended-upgrades
      action: apt name=unattended-upgrades state=present update_cache=no install_recommends=no

    - name: install anacron
      action: apt name=anacron state=present update_cache=no install_recommends=no

    - name: Blacklist netbeans and dosemu
      lineinfile:
        dest: /etc/apt/apt.conf.d/50unattended-upgrades
        insertafter: "Unattended-Upgrade::Package-Blacklist.*{.*"
        state: present
        line: "{{item.line}}"
      with_items:
        - { line: 'dosemu;' }
    - name: Install dedicated cron task for updates
      cron: special_time="weekly" job=/usr/bin/unattended-upgrade name="unattended-upgrades" 
