   - name: Install pptp and pppd
     apt:
       pkg:
         - ppp
         - pptp-linux
       state: present

   - name: Set the rights right
     action: file path=/usr/sbin/pptp mode=104755

   - name: Put config files in proper places
     template: dest=/etc/ppp/peers/internet src=files/common/etc/ppp/peers/internet.j2 owner=root

   - name: Put config files in proper places
     template: dest=/etc/ppp/peers/internet_old src=files/common/etc/ppp/peers/internet_old.j2 owner=root

   - name: Put config files in proper places
     template: dest=/etc/ppp/options.pptp src=files/common/etc/ppp/options.pptp.j2 owner=root

   - name: Install routing script 1
     when: ansible_distribution == 'Debian' and ansible_distribution_major_version in ['10']
     copy: dest=/etc/ppp/ip-up.d/0001route src=file/common/etc/ppp/ip-up.d/0001route mode='0755' owner=root

   - name: Install routing script 2
     when: ansible_distribution == 'Debian' and ansible_distribution_major_version in ['10']
     copy: dest=/etc/ppp/ip-down.d/0001route src=file/common/etc/ppp/ip-down.d/0001route mode='0755' owner=root

   - name: install new internet script
     action: apt pkg=internetapp update-cache=no state=latest
