    - name: uninstall mysql-server
      apt:
        pkg:
         - mariadb-server
        state: absent
      when: ansible_distribution == 'Debian' and ansible_distribution_major_version in ['10','11']
