#SUBSYSTEMS=="usb", ATTRS{idVendor}=="03f0", ATTRS{idProduct}=="1d17", SYMLINK+="usb/hpprinter"
#SUBSYSTEMS=="usb", ATTRS{idVendor}=="04a9", ATTRS{idProduct}=="2759", SYMLINK+="usb/hpprinter"
SUBSYSTEMS=="usb", ENV{DEVNAME}=="/dev/usb/lp*", SYMLINK +="usb/hpprinter"
